In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
## create a Series by passing a list of values, letting pandas create a default integer index

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
## create a DataFrame by passing a numpy array, with a datetime index and labeled columns

dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4),
                 index = dates,
                 columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.345314 -1.213064 -0.607966 -0.851094
2013-01-02 -0.204905  1.475389  0.341369 -0.313155
2013-01-03  1.278420  1.442819 -0.419220  0.531115
2013-01-04  0.610140 -0.159420  0.613996  0.352854
2013-01-05 -0.695667  0.320412  0.954720 -1.062654
2013-01-06 -0.405611 -0.249739  0.241814  0.896514

In [ ]:
## create a DataFrame by passing a dict of objects that can be converted to series-like